@import "tailwindcss";

body {
    font-family: "Sulphur Point", serif;
}

nav {
    color: white
}

.logo {
    font-family: "Julius Sans One", serif;
    letter-spacing: 4px;
}

font-awesome-icon {

}

